.featuredProduct{
    opacity: 0; /* Hidden initially */
    transform: translateX(100%); /* Start off-screen */
    transition: opacity 1s ease-out, transform 1s ease-out; /* Make the transition smooth */
}

.featuredProduct.visible {
    opacity: 1; /* Make visible */
    transform: translateX(0); /* Bring it to the normal position */
}